/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */
.tocaBoton {
  width: 100px;
  margin: 0px;
  padding: 0px;
}
img{
  display: block;
  margin: auto;
}